* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-size: 400;
}

/* PAGE STRUCTURE */
.wrapper {
  max-height: 100vh;
}

.container {
  margin: 200px auto;
  width: 200px;
}
