* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
}

/* PAGE STRUCTURE */
.wrapper {
  height: 100vh;
  background-color: #d3f9d8;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 600px;
}

/* FORM */
.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  border: solid 2px #40c057;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.input-list {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-direction: column;
}

.input-item {
  display: flex;
  gap: 16px;
}

/* INPUT COMPONENT */

.post-input {
  width: 300px;
  padding: 4px;
}

.form-btn {
  width: 100px;
  background-color: #fff;
  border: solid 2px #2b8a3e;
  padding: 4px;
}

.form-btn:active,
.form-btn:hover {
  border: solid 2px #40c057;
}

.send-input {
  flex: 1;
}
